---
import Island from '../components/Island.vue'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Astro + Vue Vapor prod hydration repro</title>
  </head>
  <body>
    <Island client:load />
  </body>
</html>
